* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: white; }

body {
  color: white;
  background-color: #6aaebf; }

/* body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 2px;
}
 */
::-webkit-scrollbar {
  display: none; }

@media (min-width: 1025px) {
  /* Home */
  .banner .container-fluid {
    /* Fonts Home */ }
    .banner .container-fluid .banner__content div h1 {
      font-size: 5vw; }
    .banner .container-fluid .banner__content div p {
      font-size: 1.5vw; } }

.navBar {
  background: transparent;
  font-family: "Capriola", sans-serif;
  position: fixed;
  font-size: 14px;
  height: 50px;
  width: 100%;
  z-index: 1; }

.navBar__btn__custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>"); }

.navBar__btn__custom.navbar-toggler {
  border: none; }

/* .navBar__btn__custom:active{
    display: none;
}
 */
.navBar__btn__custom:focus {
  outline: 0; }

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner .banner__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
    background: black;
    opacity: 0.3; }
  .banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
    z-index: -100; }
  .banner .banner__content {
    position: relative;
    text-align: center;
    z-index: 3; }
    .banner .banner__content div h1 {
      font-size: 10vw; }
    .banner .banner__content div p {
      font-size: 4vw; }

.banner__arrow {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center; }
  .banner__arrow .banner__content__arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    cursor: pointer; }

.who {
  letter-spacing: .17px; }

.who__content .who__content__icon img {
  max-width: 100%;
  max-height: 440px; }

.who__content .who__content__text h2 {
  font-size: 42px;
  padding-bottom: 10px; }

.who__content .who__content__text p {
  font-size: 20px; }

.service__content div {
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  cursor: pointer; }
  .service__content div h6 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .service__content div img {
    max-width: 100%;
    max-height: 200px;
    padding: 10px; }
  .service__content div span {
    position: relative; }
    .service__content div span button {
      margin-bottom: 10px;
      color: white;
      border: 2px solid white; }
    .service__content div span button:hover {
      background-color: white;
      color: #6aaebf; }

.service__content div:hover {
  animation: shake .4s 1;
  animation-delay: .2s; }

@keyframes shake {
  0% {
    transform: rotate(3deg); }
  20% {
    transform: rotate(-3deg); }
  40% {
    transform: rotate(3deg); }
  60% {
    transform: rotate(-3deg); }
  80% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(0); } }
