* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none; }

a {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  color: #ffffff; }

body {
  color: #ffffff;
  background-color: #edc677; }

::-webkit-scrollbar {
  display: none; }

/* body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 2px;
}
 */
@media (min-width: 1025px) {
  /* Home */
  .banner .container-fluid {
    /* Fonts Home */ }
    .banner .container-fluid .banner__content div h1 {
      font-size: 5vw; }
    .banner .container-fluid .banner__content div p {
      font-size: 1.5vw; } }

.intro__text, .intro__form, .intro__contact {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out; }

.intro__appear {
  opacity: 1;
  transform: translateY(0px); }

.navBar {
  background: transparent;
  font-family: "Capriola", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 14px;
  height: 50px;
  width: 100%;
  z-index: 1; }

.navScroll {
  background-color: black;
  transition: 0.4s; }

.navBar__btn__custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>"); }

.navBar__btn__custom.navbar-toggler {
  border: none; }

/* .navBar__btn__custom:active{
    display: none;
}
 */
.navBar__btn__custom:focus {
  outline: 0; }

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; }
  .banner .banner__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
    background: black;
    opacity: 0.5; }
  .banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
    z-index: -100; }
  .banner .banner__content {
    position: relative;
    text-align: center; }
    .banner .banner__content div h1 {
      font-size: 10vw; }
    .banner .banner__content div p {
      font-size: 4vw; }

.banner__arrow {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center; }
  .banner__arrow .banner__content__arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    cursor: pointer; }

#who {
  /* letter-spacing: .17px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; */
  background-color: #C3ADA5; }

.who__content .who__content__icon img {
  max-width: 100%;
  max-height: 320px; }

.who__content .who__content__text h2 {
  font-size: 42px;
  padding-bottom: 10px; }

.who__content .who__content__text p {
  font-size: 20px; }

#service {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #EDC677; }

.service__content div {
  margin: 10px;
  padding: 10px;
  cursor: pointer; }
  .service__content div h6 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .service__content div img {
    max-width: 100%;
    max-height: 200px;
    padding: 10px; }
  .service__content div span {
    position: relative; }
    .service__content div span button {
      margin-bottom: 10px;
      margin-left: 10px;
      color: white;
      border: 2px solid white; }
    .service__content div span button:hover {
      background-color: white;
      color: #edc677; }

.service__content div:hover {
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  animation: shake .4s 1;
  animation-delay: .2s; }

@keyframes shake {
  0% {
    transform: rotate(3deg); }
  20% {
    transform: rotate(-3deg); }
  40% {
    transform: rotate(3deg); }
  60% {
    transform: rotate(-3deg); }
  80% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(0); } }

.not-active {
  pointer-events: none;
  cursor: default;
  opacity: 0.5; }

.active {
  opacity: 1;
  pointer-events: none; }

#travel {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7AB8B8; }

.travel__title {
  padding-top: 50px; }

.travel__arrows {
  padding-top: 30px; }

.travel__arrows__content {
  white-space: nowrap;
  text-align: center; }
  .travel__arrows__content li {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 26px;
    margin: 0 9px 0 -10px;
    padding: 0 20px;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none; }
    .travel__arrows__content li a {
      text-decoration: none; }

.travel__arrows__content li::before,
.travel__arrows__content li::after {
  border-right: 1px solid white;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transform: skewX(45deg); }

.travel__arrows__content li::after {
  bottom: 0;
  top: auto;
  transform: skewX(-45deg); }

.travel__arrows__content li:last-of-type::before,
.travel__arrows li:last-of-type::after {
  display: none; }

/* .travel__arrows__content li:nth-of-type(1) a { color: white(0, 0%, 70%); } 
.travel__arrows__content li:nth-of-type(2) a { color: white(0, 0%, 65%); } 
.travel__arrows__content li:nth-of-type(3) a { color: white(0, 0%, 50%); } 
.travel__arrows__content li:nth-of-type(4) a { color: white(0, 0%, 45%); } */
.travel__form {
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  padding: 30px;
  /* .travel__contenedor__cities:hover{
        outline: 3px solid white;  
    }*/ }
  .travel__form div div label {
    margin-bottom: 10px; }
  .travel__form div div input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    margin-bottom: 10px; }
  .travel__form div div input:focus {
    background-color: transparent;
    border-bottom: 2px solid white;
    outline: none;
    outline-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .travel__form div div input::-webkit-outer-spin-button,
  .travel__form div div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .travel__form div div a {
    width: 100%;
    border: 2px solid white;
    color: white;
    border-radius: 0;
    margin-top: 20px; }
  .travel__form div div a:hover {
    color: white; }
  .travel__form div div button:hover {
    color: white; }
  .travel__form div div button {
    width: 100%;
    border: 2px solid white;
    color: white;
    border-radius: 0;
    margin-top: 20px; }
  .travel__form div div button:hover {
    color: white; }
  .travel__form .travel__contenedor__cities {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    cursor: pointer;
    outline: 1px solid white;
    margin: 10px; }
    .travel__form .travel__contenedor__cities img {
      display: none;
      width: 20px;
      height: 20px; }
  .travel__form .travel__contenedor__hotel {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 5px; }
    .travel__form .travel__contenedor__hotel img {
      display: inline;
      width: 30%; }
  .travel__form .travel__form__datos {
    display: none; }
  .travel__form .travel__form__cities {
    display: none; }
  .travel__form .travel__form__people {
    display: none; }
  .travel__form .travel__form__hotel {
    display: none; }
  .travel__form .travel__form__result {
    display: none; }

#contact {
  background-color: #6AAEBF; }

.contact__form {
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3); }
  .contact__form .contact__form__content div h2 {
    margin-bottom: 20px; }
  .contact__form .contact__form__content div label {
    margin-bottom: 10px; }
  .contact__form .contact__form__content div input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    margin-bottom: 10px; }
  .contact__form .contact__form__content div input:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .contact__form .contact__form__content div textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white; }
  .contact__form .contact__form__content div textarea:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .contact__form .contact__form__content div button {
    width: 100%;
    border: 2px solid white;
    color: white;
    border-radius: 0;
    margin-top: 20px; }

/* p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
  } */
.footer {
  background-color: #cddce0;
  color: #4b4b4b; }
  .footer .footer__content {
    padding-top: 60px;
    padding-bottom: 30px; }
    .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter {
      margin-bottom: 60px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter p {
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 20px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter form div input {
        border: 1px solid #4b4b4b;
        background-color: #cddce0;
        border-radius: 5px;
        padding: 20px;
        max-width: 100%; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter form div input:focus {
        outline: none;
        outline-width: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter form div input::placeholder {
        text-align: center;
        font-weight: 700;
        font-size: 14px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter form div p {
        font-size: 12px; }
        .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter form div p a {
          color: #4b4b4b; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__newsletter form input[type="submit"] {
        display: none; }
    .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__social,
    .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__customer {
      margin-bottom: 60px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__social p,
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__customer p {
        font-weight: 700;
        letter-spacing: 1px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__social span img,
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__customer span img {
        width: 20px;
        margin-left: 10px;
        margin-right: 10px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__social span a,
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__customer span a {
        color: #4b4b4b;
        font-size: 12px; }
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__social span ul,
      .footer .footer__content .footer__content_layout .footer__content__row .footer__content__row__customer span ul {
        list-style: none; }
